<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ADM API</title>
<link rel="icon" type="image/png" href="/static/logo/logo.png">
<link rel="stylesheet" href="/static/css/style.css">
</head>
    <body>
        <div class="container api-container">
            <div class="purple-bar"></div>
            <h1>API Status</h1>
            <div class="status-card">
            <div class="status"> API is running !! You can try following...</div>
            <h1></h1>
            <small>1. API Status </small>
            <span class="endpoint"> GET / </span>
            <small>2. Model Prediction </small>
            <span class="endpoint"> POST /predict </span>
            <small>3. Swagger API Documentation </small>
            <span class="endpoint"> GET /docs </span>
            <small>4. Complete API Documentation </small>
            <span class="endpoint"> GET /documentation </span>
            <small>5. ML Model Metadata</small>
            <span class="endpoint"> GET /model-metadata </span>
            </div>
            <div class="footer">
            © 2026 Nanda Chalapathi - ADM API All Rights Reserved
            </div>
        </div>
    </body>
</html>