<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADM API Model Metadata</title>
    <link rel="icon" type="image/png" href="/static/logo/logo.png">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
    <body>
        <div class="container meta-container">
            <div class="purple-bar"></div>
            <h1>Model Metadata</h1>
            <div class="models">
            <div class="meta-section">
            <div class="meta-title">Isolation Forest</div>
            <div class="label">Name</div>
            <div class="meta-box">Isolation Forest</div>
            <div class="label">Version</div>
            <div class="meta-box">v1.0</div>
            <div class="label">Last Updated</div>
            <div class="meta-box">05-03-2026</div>
            <div class="label">Status</div>
            <div class="meta-box status-running">Running</div>
            </div>
            <div class="meta-section">
            <div class="meta-title">LOF Model</div>
            <div class="label">Name</div>
            <div class="meta-box">Local Outlier Factor</div>
            <div class="label">Version</div>
            <div class="meta-box">v1.0</div>
            <div class="label">Last Updated</div>
            <div class="meta-box">05-03-2026</div>
            <div class="label">Status</div>
            <div class="meta-box status-running">Running</div>
            </div>
            <div class="meta-section">
            <div class="meta-title">Ensemble Model</div>
            <div class="label">Name</div>
            <div class="meta-box">Isolation Forest + LOF</div>
            <div class="label">Version</div>
            <div class="meta-box">v1.0</div>
            <div class="label">Last Updated</div>
            <div class="meta-box">05-03-2026</div>
            <div class="label">Status</div>
            <div class="meta-box status-running">Running</div>
            </div>
            </div>
            <div class="footer">
            © 2026 Nanda Chalapathi - ADM API All Rights Reserved
            </div>
        </div>
    </body>
</html>